:root {
  --color-logo: #4d5ae5;
  --color-text: #434455;
  --color-text-title-bng: #2e2f42;
  --color-white: #ffffff;
  --color-footer-text: #f4f4fd;
  --color-btn-bng: #404bbf;
}
/* index.html start */
body {
  background-color: var(--color-white);
  font-family: "Roboto", sans-serif;
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  border: 0;
}

.visualli-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

}
img {
  display: block;
  max-height: 100%;
  height: auto;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

.link {
  text-decoration: none;
  height: 19px;
}

.no-scroll {
  overflow: hidden;
}

header {
  box-sizing: border-box;
  font-style: normal;
  list-style: none;
  color: var(--color-text);
  background-color: var(--color-white);
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24.5px;
  padding-bottom: 24.5px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}
.nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* index.html LOGO */
.logo-title {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: var(--color-logo);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.header-list {
  display: flex;
}

.address-item {
  margin-right: 40px;
}

.link-adsress {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
.logo-span {
  color: var(--color-text-title-bng);
}

/* index.html HEADER LIST+NAV */

.link-adsress:hover,
.link-adsress:focus {
  color: #404bbf;
}
.header-address {
  text-decoration: none;
  font-style: normal;
}

.current {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -23px;
  width: 100%;
  height: 5px;
  box-sizing: 2px;
  background-color: #3441c7;
}

.address-list {
  display: flex;
}

.link-item:active {
  color: var(--color-btn-bng);
}

.link-item:hover,
.link-item:focus {
  color: var(--color-btn-bng);
}

.link-item {
  margin-right: 40px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-title-bng);
}

.link-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-title-bng);
}
/* index.html HERO SECTION */
.hero-section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-wrap {
  display: flex;
  justify-content: center;
}
.hero-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 46px;
}

.btn-wrap {
  display: flex;
  justify-content: center;
}

.link-address {
  color: var(--color-text);
}
/* index.html HERO BUTTON */
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.hero-btn {
  background-color: var(--color-logo);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* index.html SECTION GOALS*/

.item-svg {
}

.goals-svg-wrap {
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.goals-swg {
}

.svg-list {
  display: flex;
  justify-content: center;
  gap: 10;
}

.svg-item {
  background: #f4f4fd;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  padding: 24px;
}

.goals {
  box-sizing: border-box;
  padding-top: 120px;
  padding-bottom: 120px;
}

.goals-title {
  font-weight: 500;
}

.ours-list {
  display: flex;
  margin-right: 24ox;
}

.goals-item {
  list-style: none;
  margin-right: 24px;
}

.goals-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text-title-bng);
  margin-bottom: 8px;
}

.goals-item-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);

  width: 264px;
}

/* index.html SECTION WORCKS */
.worck {
  box-sizing: border-box;

  padding-bottom: 120px;
}
.section-worck-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-text-title-bng);
  margin-bottom: 72px;
}

.img-worck {
  display: flex;
}

.worck-item {
  margin-right: 24px;
}

/* index.html SECTION TEAM */
.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-tram {
  display: flex;
}
.info-wrap {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-list-title {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.team-list-text {
  display: flex;
  justify-content: center;
}
.section-team-title {
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-text-title-bng);
  margin-bottom: 72px;
}

.team-item {
  background-color: var(--color-white);
  margin-right: 24px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text-title-bng);
}
.team-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
  margin-bottom: 8px;
}

.svg-link-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.item {
}
.social-networck-svg {
  width: 40px;
  height: 40px;
}
.list {
}
.svg-wrap {
}
.social {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
  transition: background-color 250ms ease;
}

.social:hover,
.social:focus {
  background-color: #3441c7;
}
.link {
}

/* section CUSTOMERS START */

.customers {
  box-sizing: border-box;
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.container {
}
.title {
}
.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list {
}
.use-swg {
  fill: #4d5ae5;
  transition: fill 250ns ease;
}
.customers-item {
  margin-right: 24px;
}

.customers-link {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 168px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:  border-radius 250ms linear;
}

.customers-use-svg {
  transition: fill 250ms linear;
}

.customers-link:hover use,
.customers-link:focus use {
  fill: blue;
}
.customers-link:hover,
.customers-link:focus {
  border: 1px solid #3441c7;
}

.customers-use-svg {
  fill: #8e8f99;
}

.customers-use-svg:hover {
}

/* section CUSTOMERS FINISH */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.model {
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms;
  padding: 20px;
}

.button-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.button-svg:hover, 
.button-svg:focus {
  fill: #FFFFFF;
}
.button-svg:hover, 
.button-svg:focus {
  background-color: #404BBF;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .model {
  transform: translate(-50%, -50%) scaleY(0);
}

.x-svg {
}

.model-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-top: 52px;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 0 8px 38px;
  outline: transparent;
}


.modal-input:focus {
  border-color: #4D5AE5;
}

.modal-input:focus + .input-svg {
  fill: #4d5ae5;
}

.input-wrap {
  margin-bottom: 8px;
}

.icon-position {
  position: relative;
}

.input-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}



.modal-input::placeholder {
  color: red;
}

.button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.model-form-button:hover,
.model-form-button:focus {
  background-color: #404bbf;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.model-form-button {
  display: block;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  width: 169px;
  height: 56px;
  background: #4D5AE5;
  border: 1px solid rgba(0, 0, 0, 0.1); 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 4px;
}

.leble-modal {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8E8F99;
}

.textarea-model {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 10px;
  outline: transparent;
  resize: none;
}

.input-wrap-area {
 
  margin-bottom: 16px;
}

.textarea-model::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.textarea-model:focus {
  border-color: #4D5AE5;
}

.checkbox-text {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8E8F99;
  margin-bottom: 24px;
}

.checkbox-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
}


.input-checked:checked + .checkbox-text span {
  background-color: #404BBF;
  border: none;
  fill: var(--color-white);
}

.input-checked:focus + .checkbox-text span {
  border-color: #3441c7;
}


.checkbox-link-text {
  color: #4D5AE5;
}


/* index.html FOOTER */
.web-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.f-social:hover,
.f-social:focus {
  background-color: #31d0aa;
}

.logo-title-footer {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: var(--color-logo);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.web-footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-footer-text);
  width: 264px;
}
.footer-wrap {
  display: flex;
 
}

.footer-wrap > *:first-child {
  margin-right: 120px;
}

.footer-wrap > *:nth-child(2) {
  margin-right: 80px;
}


.logo-span-footer {
  color: var(--color-footer-text);
}

.footer-link-wrap {
  align-items: center;
}

.footer-link-title {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.svg-footer-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.button-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 453px;
  height: 80px;
  position: relative;
}

.before-button-text {
  position: absolute;
  left: 0;
  transform: translateY(-24px);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.footer-input:focus {
border-color: #404bbf;

}  


.footer-input {
  background-color: #2E2F42;;
  border: 1px solid var(--color-white);
  width: 264px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 0 8px 16px;
  margin-right: 24px;
  color: var(--color-footer-text);
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.footer-button:hover,
.footer-button:focus {
  background-color: #404bbf;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.footer-form {
  display: flex;
  margin-top: 39px;
}

.footer-button {
  display: flex;
  align-items: center;
  width: 165px;
  height: 40px;
  background-color: var(--color-logo);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 8px 24px 8px 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.svg-wrap {
  max-width: 24px;
  max-height: 24px;
}

.footer-button span {
  margin-left: 16px;
  fill: #FFFFFF;
}

/* index.html finish */

/* portfolio.html start */

.portfolio {
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--color-white);
  background-color: var(--color-btn-bng);
  cursor: pointer;
}

/* portfolio.html BUTTON */
.portfolio-btn {
  background-color: var(--color-footer-text);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: 1px solid #e7e9fc;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-logo);
  padding: 12px 24px;
  transition: background-color 250ms ease, box-shadow 250ms ease-in-out;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  margin-bottom: 72px;
}

/* portfolio.html LIST */
.portfolio-item {
  margin-right: 24px;
}

.portfolio-link {
  position: relative;
  top: 0;
}
.portfolio-link-wrap:hover .list-text-hover {
  transform: translate(0);
}

.portfolio-link-wrap {
  position: relative;
  overflow: hidden;
}

.list-text-hover {
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms linear;
  overflow: auto;
}

.portfolio-info-wrap {
  padding: 32px 17.5px;
  padding-bottom: 32px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.non-margin {
}

ul.img-list.list li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-item-img {
  width: calc((100% - 48px) / 3);
}

.portfolio-item-img:hover,
.portfolio-item-img:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms ease-in-out;
}

.img-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

/* portfolio.html TITLE */
.img-title {
  box-sizing: border-box;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text-title-bng);
}

/* portfolio.html IMAGES */
.img-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.line-title {
  background-color: var(--color-white);
  border: 1px solid #e7e9fc;
  width: 360px;
  margin-right: 0;
}
color: #4350dd;
